<th:block xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" th:href="@{/assets/img/favicon.png}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/material-design-iconic-font.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/perfect-scrollbar.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/bootstrap-datetimepicker.min.css?v=2.4.4}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/animate.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/select2.min.css?v=4.0.13}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/widget/mprogress.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/jquery-ui.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/rb-base.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/rb-page.css}" />
  <script>
    window.rb = window.rb || {
      env: '[[${env}]]',
      baseUrl: '[[${baseUrl}]]',
      appName: '[[${appName}]]',
      storageUrl: '[[${storageUrl}]]',
      fileSharable: '[[${fileSharable}]]' === 'true',
      currentUser: '[[${currentUser}]]',
    }
  </script>
</th:block>
