<th:block xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-expand fixed-top rb-top-header">
    <div class="container-fluid">
      <div class="rb-navbar-header">
        <a class="navbar-brand" th:href="@{/dashboard/home}"></a>
        <a class="rb-toggle-left-sidebar" title="展开/收缩导航菜单"><span class="icon zmdi zmdi-menu"></span></a>
      </div>
      <div class="search-container">
        <input class="form-control form-control-sm search-input-gs" type="text" name="search" maxlength="100" placeholder="搜索" autocomplete="off" />
        <div class="search-models animated fadeIn faster"></div>
      </div>
      <div class="rb-right-navbar" th:with="user = ${T(com.rebuild.utils.AppUtils).getRequestUserBean(#request)}">
        <ul class="nav navbar-nav float-right rb-user-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" th:href="@{/settings/user}" data-toggle="dropdown">
              <img th:src="@{/account/user-avatar}" alt="Avatar" />
              <span class="user-name" th:text="${user.getFullName()}">姓名</span>
            </a>
            <div class="dropdown-menu">
              <div class="user-info">
                <div class="user-name" th:text="${user.getFullName()}">姓名</div>
                <div class="user-id" th:data-user="${user.getId()}" th:text="${user.getEmail() ?: '邮箱未设置'}">邮箱</div>
              </div>
              <a class="dropdown-item" th:href="@{/settings/user}"><i class="icon zmdi zmdi-account-box"></i>个人设置</a>
              <a class="dropdown-item" th:href="@{/user/logout}"><i class="icon zmdi zmdi-power"></i>安全退出</a>
            </div>
          </li>
        </ul>
        <div class="page-title hide"><span>标题</span></div>
        <ul class="nav navbar-nav float-right rb-icons-nav">
          <li class="nav-item dropdown admin-danger hide">
            <a class="nav-link" href="javascript:;"><i class="icon zmdi zmdi-alert-octagon text-danger"></i></a>
          </li>
          <li class="nav-item dropdown page-help" title="查看适用于本页的帮助">
            <a class="nav-link" href="https://getrebuild.com/docs/" target="_blank"><i class="icon zmdi zmdi-help"></i></a>
          </li>
          <li class="nav-item dropdown admin-show admin-settings">
            <a class="nav-link" th:href="@{/admin/systems}"><i class="icon zmdi zmdi-settings"></i></a>
          </li>
          <li class="nav-item dropdown J_notifications-top">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/notifications}"> <i class="icon zmdi zmdi-notifications"></i><span class="indicator hide"></span> </a>
            <ul class="dropdown-menu rb-notifications">
              <li>
                <div class="title">未读 <span class="badge badge-pill">0</span></div>
                <div class="list">
                  <div class="rb-scroller">
                    <div class="content">
                      <ul></ul>
                    </div>
                  </div>
                </div>
                <div class="footer"><a th:href="@{/notifications}">查看全部</a></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="rb-scroll-top"></div>
</th:block>
